/*General Styles*/
* {
  font-family: Optima, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  font-size: 18px;
  color: rgb(211, 210, 210);
  background-color: #272e42;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 75px;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 30px;
  margin: 0px;
}

li {
  text-align: left;
  list-style-position: inside;
}

ul {
  text-align: left;
  list-style-position: inside;
}

a {
  text-decoration: none;
}

.linkToProjectGroup {
  margin: 20px;
}

.linkToProject {
  padding: 5px 5px 5px 5px;
  background-color: rgb(103, 197, 103);
  border-radius: 5%;
  color: #282c34;
  text-decoration: none;
  font-weight: bold;
}
.linkToProject:hover {
  padding: 10px 10px 10px 10px;
  border-radius: 5%;
}

.photo {
  width: 70%;
  height: 400px;
}

.overview {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologyList {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-content: center;
  align-items: center;
}

.profilePic {
  border-radius: 10%;
  margin: 30px;
  height: 300px;
  width: 340px;
}

/*Landing Page styles*/

.pronouns {
  font-size: 10px;
  padding-left: 20px;
}

.summary {
  width: 850px;
  margin: 30px auto 30px auto;
  text-align: left;
}

.social {
  border: solid;
  border-radius: 30%;
  border-color: rgb(103, 197, 103);

  font-size: 20px;
  padding: 7px 10px 7px 10px;
  margin: 5px;
}
.social:hover {
  padding: 12px 15px 12px 15px;
}

.socialGroup {
  position: relative;

  animation: move-social;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes move-social {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.link {
  margin: 10px;
  padding: 5px;
  border-radius: 10%;
  text-decoration: none;
}
.link:hover {
  background-color: rgb(103, 197, 103);
  color: #272e42;
  font-weight: bold;
}

.links {
  margin: 50px;
  position: relative;
  animation: move-links;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes move-links {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

/* Projects page styles*/
.projectsDisplay {
  display: flex;
  flex-direction: column;
}

.projectContainer {
  width: 700px;
  margin: auto;
  margin-bottom: 100px;
}

/* Reddalerts styles */
.reddalertsPhoto {
  width: 700px;
  height: 400px;
}

.reddalerts-slider {
  width: 700px;
  height: 420px;
  display: flex; /*horizontal scrolling*/
  margin: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.slide {
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(226, 226, 226, 0.5);
}

/*ExplorersConnect page styles*/
.explorers-slider {
  width: 700px;
  height: 570px;
  display: flex; /*horizontal scrolling*/
  margin: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.explorersPhoto {
  width: 700px;
  height: 550px;
}
